<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>public.dagronf.colorpalette</string>
				<string>public.dagronf.gimp.gpl</string>
				<string>com.apple.color-file</string>
				<string>com.adobe.acb</string>
				<string>com.adobe.aco</string>
				<string>com.adobe.ase</string>
				<string>com.adobe.act</string>
				<string>com.bohemiancoding.sketch.palette</string>
				<string>public.dagronf.palette.hex</string>
				<string>public.dagronf.palette.rgb</string>
				<string>public.dagronf.palette.rgba</string>
				<string>public.dagronf.corel.pal</string>
				<string>public.dagronf.corel.psppalette</string>
				<string>public.dagronf.microsoft.riff.palette</string>
			</array>
			<key>QLThumbnailMinimumDimension</key>
			<integer>0</integer>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.thumbnail</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).ThumbnailProvider</string>
	</dict>
</dict>
</plist>
